  <div class="wrapper row4">
    <footer id="footer" class="clear">
      <div class="one_third first">
        <h6 class="title">Contact Us</h6>
        <address class="push30">
          UVic Ballroom Dance Club<br>
          3800 Finnerty Rd <br>
          Victoria, B.C.<br>
        </address>
        <ul class="nospace">
          <li class="push10">FB: UVic Ballroom Dance Club Updates & Information</li>
          <li><span class="icon-envelope-alt"></span> ballroom@uvicdance.com</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">About Us </h6>
        <ul class="nospace clear">
          <li class="clear push30"><p class="nospace push15">
            Welcome to the UVic Ballroom Dance Club (UVBDC)!  As a Vikes Rec 
            Club, we believe that ballroom dancing improves physical and social 
            wellbeing and enhances quality of life! We offer lessons not only 
            in Standard Ballroom (like waltz, foxtrot, and tango), but also 
            Latin Ballroom, East Coast Swing, Salsa, Merengue and Bachata.  
            You don’t need a partner or any dance experience 
            (having two left feet is fine), just show up and get ready to have 
            fun, meet new people, and, of course, learn how to dance!.
          </p></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Photo Gallery</h6>
        <ul class="nospace clear ftgal">
          <li class="one_third first"><a href="#"><img src="images/welcome.jpg" alt=""></a></li>
          <li class="one_third"><a href="#"><img src="images/balloons.jpg" alt=""></a></li>
          <li class="one_third"><a href="#"><img src="images/autism.jpg" alt=""></a></li>

          <li class="one_third first"><a href="#"><img src="images/competitions.jpg" alt=""></a></li>
          <li class="one_third"><a href="#"><img src="images/springdance.jpg" alt=""></a></li>
          <li class="one_third"><a href="#"><img src="images/salsa.jpg" alt=""></a></li>
        </ul>
      </div>
    </footer>
  </div>

  <div class="wrapper row5">
    <div id="copyright" class="clear">
      <p class="fl_left">
        Copyright &copy; 2014 - All Rights Reserved - 
        <a href="index.html">www.uvicdance.com</a></p>
      <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
    </div>
  </div>