<div class="body-header">
  <div class="logo">
    <h1><a href="index.html">UVic Ballroom Dance Club</a></h1>
    <h5>Established 1986</h5>
  </div>
</div>

<nav>
  <ul>
    <li><a href="index.html">Home</a></li>
    <li>
      <a href="#">Classes</a>
			<ul class="hidden"> 
				<li><a href="#">Schedule</a></li>
				<li><a href="#">Description</a></li>
			</ul>
		</li>
    <li><a href="#">Where to Dance</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="executive.html">About</a></li>
    <li><a href="#">FAQ</a></li>
  </ul>
</nav>
