
@import 'reset';
@import 'defaults';
@import 'mixins';

$medium-large: 45em;
$small-medium: 32em;

html {
  font-size: 1em; //font sizing the page
}

body {
  font-size: 1rem;
  background: #777 no-repeat center top fixed;
  background-size: cover;
  
  .wrapper {
    max-width: 60rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    
    @include clearfix;
  } 
}

body .body-header {
  font-size: 1rem;

  background-color: rgba(0,0,0,0.5);
  color: white;
  height: 10em;
  margin-top: 3em;
  width: 100%;
  
  //center inner div
  display: flex;
  justify-content: center;
  align-items: center;
  
  @include border-top-radius(2em);
  
  @media screen and (max-width: $medium-large) {
    margin-top: 0;
    border-radius: 0;
  }
  
  .logo {
    h1 {
      text-align: center;
      text-transform: uppercase;
      font-size: 2.5em;
      font-family:Georgia,"Times New Roman",Times,serif;
    }
    h5 {
      text-align: center;
    }
  }
}

/* start nav bar */

body nav {
  font-size: 1rem;
  
  background-color: white;
  text-align: center;

  ul {
	position: static;
	display: inline-block;
}


  /*Create a horizontal list with spacing*/
  li {
    display: inline-block;
  }

  /*Style for menu links*/
  li a {
    display:block;
    height: 3em;
    line-height: 3em;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background: #fff;
    text-decoration: none;
    padding: 0 1.5em;

    @media screen and (max-width: $medium-large) {
      padding: 0 0.5em;
    }
  }

  /*Hover state for top level links*/
  li:hover a {
    background: #777;
  }

  /*Style for dropdown links*/
  li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 40px;
    line-height: 40px;
  }

  /*Hover state for dropdown links*/
  li:hover ul a:hover {
    background: #555;
    color: #333;
  }

  /*Hide dropdown links until they are needed*/
  li ul {
    display: none;
    position: absolute;
  }

  /*Make dropdown links vertical*/
  li ul li {
    display: block;
    float: none;
    border: none;
  }

  /*Prevent text wrapping*/
  li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
  }

  /*Display the dropdown on hover*/
  ul li a:hover + .hidden, .hidden:hover {
    display: block;
  }

  @media screen and (max-width : $small-medium){
    /*Make dropdown links appear inline*/
    ul {
      position: static;
    }

    li ul {
      position: static;
    }

    ul li {
      border-bottom: black solid 0.15em;
    }

    /*Make all menu links full width*/
    ul li, li a {
      width: 100%;
    }
  }
}

/* start profile */

.profile {
  margin: 2em;
  
  @media screen and (max-width: $small-medium) {
    margin: 2em 1em;
    background-color: white;
    padding: 1em;
  }
  
  h3 {
    margin-bottom: 1.5em;
  }
  
  .profile-body {
    background-color: white;
    padding: 2em 2em 1em;
      
    @media screen and (max-width: $small-medium) {
      padding: 0;
      background-color: rgba(0,0,0,0);
    }
    
    @include clearfix;
    
    p {
      margin-bottom: 1em;
    }
    
    .portrait {
      width: 10em;
      float: right;
      margin-left: 1em;
      margin-bottom: 1em;
      
      @media screen and (max-width: $small-medium) {
        float: left;
        width: 6em;
        margin-left: 0;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}

/* executive page specific css */

#executive {
  font-size: 1rem;
  
  background-color: rgba(255,255,255,0.8);
  overflow: hidden;
  
  @include clearfix;
}


